[Unit]
Description=GoDNS Service
After=network.target

[Service]
ExecStart=/usr/local/bin/godns -c=/usr/local/etc/godns.json
Restart=always
KillMode=process
RestartSec=2s

[Install]
WantedBy=multi-user.target
root@mc-vm:/etc/systemd/system# cat /usr/local/etc/godns.json
{
  "provider": "Dreamhost",
  "login_token": "<your login token>",
  "domains": [{
      "domain_name": "<your domain>",
      "sub_domains": ["<your subdomain>"]
    }
  ],
  "resolver": "8.8.8.8",
  "ip_url": "https://myip.biturl.top",
  "ip_type": "IPv4",
  "interval": 300,
  "resolver": "ns1.dreamhost.com",
  "socks5_proxy": ""
}
