[Unit]
Description=Minecraft Vanilla Forge Server
After=network.target

[Service]
User=mcsrvV
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/mcdata/mcsrvV
ExecStart=/opt/java-se-8u41-ri/bin/java  -Xmx2048M -Xms1024M -Djavax.net.ssl.trustStore=/etc/ssl/certs/java/cacerts -jar forge.jar nogui
ExecStop=/usr/local/bin/mcrcon -H 127.0.0.1 -P <selected mcrcon port> -p <rcon password> stop

[Install]
WantedBy=multi-user.target
